<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.testnet.server.mapper.asset.AssetVulMapper">

    <select id="getVulCountByProject" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM asset_vul
        where project_id = #{id};
    </select>

    <delete id="delBySubDomainIds">
        DELETE FROM asset_vul
        WHERE asset_id IN
        <foreach item="id" collection="subDomainId" open="(" separator="," close=")">#{id}</foreach>
        AND asset_type = 'sub_domain';
    </delete>

    <delete id="delByIpIds">
        DELETE FROM asset_vul
        WHERE asset_id IN
        <foreach item="id" collection="ipId" open="(" separator="," close=")">#{id}</foreach>
        AND asset_type = 'ip';
    </delete>

    <delete id="delByWebIds">
        DELETE FROM asset_vul
        WHERE asset_id IN
        <foreach item="id" collection="webId" open="(" separator="," close=")">#{id}</foreach>
        AND asset_type = 'web';
    </delete>
</mapper>